/** CSS */
body, html {
    font-size: 18px;
    background: rgb(23,255,0);
    background: radial-gradient(circle, rgba(23,255,0,1) 0%, rgba(23,255,0,0.269642891336222) 0%, rgba(208,255,203,1) 0%);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

h1 {
position: center;
}

/* Gives images a border and an outline */
#image1, #image2 {
    border: 3px solid #555;
    outline: 5px solid #dbc70bbb;

}


/**The text at the bottom of each image*/
figcaption {

    font-size: 11px;
    border: none;
}

/*Selects p elements inside div */
div p {
    width: 75%;
    float: left;
    padding: 15px;
    line-height: 2.5em;
    font-family: 'Dosis', sans-serif;
    border-left: 1px solid #bbb;

  }

/* Text in the second paragraph */
.beginningsText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer{
    padding: 10px;
    text-align: center;

}
/* text in footer */
.footer p {
    line-height: 1px;
}
